

body{
	padding-right: 15px;
	padding-left: 15px;
}
.z1{
	font-size: 22px;
	font-family: Corporate;
	padding-top: 20px;
	margin-bottom: 0;
	font-weight: 500;
}
.z2{
	font-weight: 500;
	font-size: 14px;
	font-family: Corporate;
	padding-bottom: 20px;
}
.z3{
	font-size: 14px;
	font-weight: bold;
}
.z4{
	padding-bottom: 20px;
	font-weight: bold;
}
.z5{
	font-weight: bold;
}
.z6{
	font-weight: bold;
	padding-top: 30px;
}
.header{
	height: 100px;
	background: #000;
}
.k1{
	background: url(img/k1.jpg) ;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	margin-right: 50px;
}
.b{
	font-size: 14px;
}
.b p{
	margin-bottom: 0;
}
.b ul{
	padding-left: 0;
}
.b ul li{
	list-style: none;
}
.menu a li{
	line-height: 80px;
	vertical-align: center;
	list-style: none;
	color: #fff;
	display: inline;
	padding-left: 30px;
	float: right;
	margin-right: 50px;
	text-decoration: none;
}
.menu a li:hover{
	color: #b6b6b6b6
}
@font-face {
	font-family: Corporate;
	src: url("font/ufonts_com_corporate_a_regular_1_.ttf");
	font-weight: normal;
}
.sb{
	font-size: 8px;
	padding-top: 70px;
	padding-bottom: 30px;
}
.sb p{
	margin-bottom: 5px;
	font-weight: 500;
}

.t_b{
	margin-left: 50px;
	padding-top: 100px;
}
.logo_n img{
	height: 60px;
	padding-top: 40px;
}
.logo img{
	padding-right: 20px;
	float: right;
	padding-top: 20px;
	height: 70px;
}
@media screen and (max-width: 575px){
	.k1{
		visibility: hidden;
		height: 0;
		padding: 0;
	}
	.t_b {
		padding-top: 0;
	}
	.header{
		height: 160px;
	}
	.logo img{
		visibility: hidden;
	}
	.logo_n{
		position: relative;
		left: -50px;
	}
}
.k2{
	background: url(img/k2.jpg) ;
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	margin-bottom:20px; 
}
.k3{
	background: url(img/k3.jpg) ;
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	margin-bottom:20px; 
}
.k4{
	background: url(img/k4.jpg) ;
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	margin-bottom:20px; 
}
footer .fonfut{
	background-image: linear-gradient(#fff, rgb(23, 23, 23) );
	color: rgb(153, 153, 153);
	padding-top: 80px;
}
.fut1 img{
	margin: 15px;
	height: 25px;
}
footer li{
	list-style: none;
	display: inline-block;
}
.fz1{
	color: #fff;
}